
<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>NovaDiscs</h1>
  </LinkTo>

  <LinkTo @route="scorecard" class="menu-contact" onclick="openNav()">
    ☰ Menu
  </LinkTo>

  <!-- <LinkTo @route="scorecard" class="menu-contact">
    Scorecard
  </LinkTo>

  <LinkTo @route="players" class="menu-contact">
    Players
  </LinkTo> -->

  <!-- <div class="links"> -->

    <!-- <LinkTo @route="scorecard" class="menu-contact">
      Putting League Scorecard
    </LinkTo> -->

    <!-- <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>

    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo> -->

  <!-- </div> -->
</nav>


<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="scorecard">Scorecard</a>
  <a href="players">Players</a>
  <!-- <a href="#">Clients</a>
  <a href="#">Contact</a> -->
</div>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
