
<body>

<div class="Total">
  <label for="playerName">Player Name: </label>
  <input type="text" name="playerName" id="playerName" placeholder="Name"/>
</div>

<table class="puttingleaguescoresheet">
  <tr>
    <th></th>
    <th> 10 Feet </th>
    <th> 15 Feet </th>
    <th> 20 Feet </th>
    <th> 25 Feet </th>
    <th> 30 Feet </th>
  </tr>
  <tr>
    <td>1st Putt</td>
    <td><input type="checkbox" id="10feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
    <td><input type="checkbox" id="10feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
    <td><input type="checkbox" id="10feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
    <td><input type="checkbox" id="10feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
    <td><input type="checkbox" id="10feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
  </tr>
  <tr>
    <td>2nd Putt</td>
    <td><input type="checkbox" id="15feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
    <td><input type="checkbox" id="15feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
    <td><input type="checkbox" id="15feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
    <td><input type="checkbox" id="15feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
    <td><input type="checkbox" id="15feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
  </tr>
  <tr>
    <td>3rd Putt</td>
    <td><input type="checkbox" id="20feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
    <td><input type="checkbox" id="20feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
    <td><input type="checkbox" id="20feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
    <td><input type="checkbox" id="20feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
    <td><input type="checkbox" id="20feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
  </tr>
  <tr>
    <td>4th Putt</td>
    <td><input type="checkbox" id="25feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
    <td><input type="checkbox" id="25feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
    <td><input type="checkbox" id="25feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
    <td><input type="checkbox" id="25feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
    <td><input type="checkbox" id="25feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
  </tr>
  <tr>
    <td>5th Putt</td>
    <td><input type="checkbox" id="30feet1attempt" name="attemptBox" onclick="totalIt()" value=2></td>
    <td><input type="checkbox" id="30feet2attempt" name="attemptBox" onclick="totalIt()" value=4></td>
    <td><input type="checkbox" id="30feet3attempt" name="attemptBox" onclick="totalIt()" value=6></td>
    <td><input type="checkbox" id="30feet4attempt" name="attemptBox" onclick="totalIt()" value=8></td>
    <td><input type="checkbox" id="30feet5attempt" name="attemptBox" onclick="totalIt()" value=10></td>
  </tr>
</table>

  <div class="Total">
    <span>Total Score: </span>
    <h4 style="color:green" id="result">0</h4>
  </div>

  <div class="finalButtons">
    <button class="button" onClick="clearAll()" style="background: #db2b14;   margin-right: 30px; margin-bottom: 10px;">Clear All</button>
    <button class="button" onClick="submit()" style="margin-bottom: 10px;">Submit</button>
  </div>

</body>

<script type="text/javascript">
    function totalIt() {
        var input = document.getElementsByName("attemptBox");
        var total = 0;
        for (var i = 0; i < input.length; i++) {
          if (input[i].checked) {
            total += parseFloat(input[i].value);
          }
        }
        document.getElementById("result").innerHTML = total;
    }

    function clearAll() {
        if (confirm("Are you sure you want to clear all checkboxes?")) {
            var boxes = document.getElementsByName("attemptBox");
            for (var i = 0; i < boxes.length; i++) {
                boxes[i].checked = false;
            }
            document.getElementById("result").innerHTML = 0;
        }
    }

    function submit() {
        var name = document.getElementById("playerName").value
        var total = document.getElementById("result").innerHTML

        if (name == "") {
            alert("Name cannot be left blank.")
        }
        else if (confirm("Submit a score of " + total + " for " + name + "?")){
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            resp = "Total score for " + name + " on " + mm + "\\" + dd + "\\" + yyyy + ": " + total
            window.location = "mailto:novadiscsscorecards@gmail.com?subject=Putting League Results&body=" + resp;
        }
    }
</script>
