
<body>

<div class="Total">
  <label for="playerName">Player Name: </label>
  <input type="text" name="playerName" id="playerName" placeholder="Name"/>
  <p></p>
<!-- </div>
<div class="Total"> -->
  <label for="playerName">Player ID: </label>
  <input type="number" name="playerID" id="playerID" placeholder="ID"/>
</div>

<div class="center">
  <img src="../assets/images/scroll_right.png" alt="" style="max-width: 40px;">
</div>
<table class="puttingleaguescoresheet">
  <thead>
    <tr>
      <th class="sticky-col first-col"></th>
      <th> 10 Feet </th>
      <th> 15 Feet </th>
      <th> 20 Feet </th>
      <th> 25 Feet </th>
      <th> 30 Feet </th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td class="sticky-col first-col">1st Putt</td>
        <td><input type="checkbox" id="10feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="10feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="10feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="10feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="10feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">2nd Putt</td>
        <td><input type="checkbox" id="15feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="15feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="15feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="15feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">3rd Putt</td>
        <td><input type="checkbox" id="20feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="20feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="20feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="20feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">4th Putt</td>
        <td><input type="checkbox" id="25feet1attempt" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="25feet2attempt" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="25feet3attempt" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet4attempt" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="25feet5attempt" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">5th Putt</td>
        <td><input type="checkbox" id="30feet1attempt" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="30feet2attempt" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet3attempt" name="attemptBox" onclick="totalIt()" value=6></td>
        <td><input type="checkbox" id="30feet4attempt" name="attemptBox" onclick="totalIt()" value=8></td>
        <td><input type="checkbox" id="30feet5attempt" name="attemptBox" onclick="totalIt()" value=10></td>
      </tr>
  </tbody>

</table>

  <div class="Total">
    <span>Total Score: </span>
    <h4 style="color:green" id="result">0</h4>
  </div>

  <div class="finalButtons center">
    <button class="button" onClick="clearAll()" style="background: #Ed553B; margin-bottom: 10px;">Clear All</button>
    <button class="button" onClick="submit()" style="background: #3CAEA3;">Submit</button>
  </div>

</body>

<script type="text/javascript">
    function totalIt() {
        var input = document.getElementsByName("attemptBox");
        var total = 0;
        for (var i = 0; i < input.length; i++) {
          if (input[i].checked) {
            total += parseFloat(input[i].value);
          }
        }
        document.getElementById("result").innerHTML = total;
    }

    function clearAll() {
        if (confirm("Are you sure you want to clear all checkboxes?")) {
            var boxes = document.getElementsByName("attemptBox");
            for (var i = 0; i < boxes.length; i++) {
                boxes[i].checked = false;
            }
            document.getElementById("result").innerHTML = 0;
        }
    }

    function submit() {
        var name = document.getElementById("playerName").value
        var playerID = document.getElementById("playerID").value
        var playerIDstring = "PlayerID: " + playerID
        var total = document.getElementById("result").innerHTML

        if (name == "" && playerID == "") {
            alert("Name or ID is required.")
        }
        // else if name and no ID
        // else if ID and no name
        else if (confirm("Submit a score of " + total + " for " + (name ? name : playerIDstring) + "?")){
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var date = "\'" + yyyy + "-" + mm + "-" + dd + "\'"

            if(playerID != ""){
              resp = "Total score for " + (name ? name : playerIDstring) + " on " + date + ": " + total
              sql = "INSERT INTO scores(player_id, date, score) VALUES (" + playerID + ", "+ date +", "+total+");"
              window.location = "mailto:novadiscsscorecards@gmail.com?subject=Putting League Results&body=" + resp + "%0D%0A...%0D%0A" + sql;
            } else {
              // No Player ID given
              resp = "Total score for " + name + " on " + date + ": " + total
              window.location = "mailto:novadiscsscorecards@gmail.com?subject=Putting League Results&body=" + resp
            }

        }
    }
</script>
