
<body>

<div class="Total" style="word-spacing: 20px;">
  <label for="playerName" style="font-weight: bold; word-spacing: normal;">Player Name: </label>
  <input type="text" name="playerName" id="playerName" placeholder="Name"/>
  OR

  <label for="playerID" style="font-weight: bold; word-spacing: normal;">PDGA Number: </label>
  <input type="number" name="playerID" id="playerID" placeholder="PDGA Number"/>
</div>

<div class="center">
  <img src="../assets/images/scroll_right.png" alt="" style="max-width: 40px;">
</div>
<table class="scoreTable">
  <thead>
    <tr>
      <th class="sticky-col first-col"></th>
      <th> Standard Basket 20' </th>
      <th> Standard Basket 25' </th>
      <th> Standard Basket 33' </th>
      <th> Marksman Basket 25' </th>
      <th> Marksman Basket 33' </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="sticky-col first-col">1st Putt</td>
        <td><input type="checkbox" id="10feet" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">2nd Putt</td>
        <td><input type="checkbox" id="10feet" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">3rd Putt</td>
        <td><input type="checkbox" id="10feet" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">4th Putt</td>
        <td><input type="checkbox" id="10feet" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col">5th Putt</td>
        <td><input type="checkbox" id="10feet" name="attemptBox" onclick="totalIt()" value=1></td>
        <td><input type="checkbox" id="15feet" name="attemptBox" onclick="totalIt()" value=2></td>
        <td><input type="checkbox" id="20feet" name="attemptBox" onclick="totalIt()" value=3></td>
        <td><input type="checkbox" id="25feet" name="attemptBox" onclick="totalIt()" value=4></td>
        <td><input type="checkbox" id="30feet" name="attemptBox" onclick="totalIt()" value=5></td>
      </tr>
      <tr>
        <td class="sticky-col first-col"></td>
        <td id="checkAll10" name="checkAll" class="checkAll" onclick="checkAll(10)">Check<br>All</td>
        <td id="checkAll15" name="checkAll" class="checkAll" onclick="checkAll(15)">Check<br>All</td>
        <td id="checkAll20" name="checkAll" class="checkAll" onclick="checkAll(20)">Check<br>All</td>
        <td id="checkAll25" name="checkAll" class="checkAll" onclick="checkAll(25)">Check<br>All</td>
        <td id="checkAll30" name="checkAll" class="checkAll" onclick="checkAll(30)">Check<br>All</td>
      </tr>
  </tbody>

</table>

  <div class="Total">
    <span>Total Score: </span>
    <h4 style="color:green" id="result">0</h4>
  </div>

  <div class="finalButtons center">
    <button class="button" onClick="clearAll()" style="background: #Ed553B; margin-bottom: 10px;" type="button">Clear All</button>
    <button class="button" onClick="submit()" style="background: #3CAEA3;" type="button">Submit</button>
  </div>

</body>

<script type="text/javascript">
    function totalIt() {
        var input = document.getElementsByName("attemptBox");
        var total = 0;
        for (var i = 0; i < input.length; i++) {
          if (input[i].checked) {
            total += parseFloat(input[i].value);
          }
        }
        document.getElementById("result").innerHTML = total;
    }

    function clearAll() {
        if (confirm("Are you sure you want to clear all checkboxes?")) {
            var boxes = document.getElementsByName("attemptBox");
            for (var i = 0; i < boxes.length; i++) {
                boxes[i].checked = false;
            }
            document.getElementById("result").innerHTML = 0;
            // Reset all buttons to "check all"
            var buttons = document.getElementsByName("checkAll");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].innerHTML = "Check<br>All";
                buttons[i].style = ""
            }
        }
    }

    function checkAll(basket) {
        var button = document.getElementById("checkAll" + basket);
        if (button.innerHTML == "Check<br>All"){
            button.innerHTML = "Uncheck<br>All";
            button.style = "color: #Ed553B;"
            boxes = document.querySelectorAll("input[id='" + basket + "feet']");
            for(var i=0; i<boxes.length; i++){
                boxes[i].checked = true;
            }
        } else {
            button.innerHTML = "Check<br>All";
            button.style = ""
            boxes = document.querySelectorAll("input[id='" + basket + "feet']");
            for(var i=0; i<boxes.length; i++){
                boxes[i].checked = false;
            }
        }
        totalIt()
    }

    function submit() {
        var name = document.getElementById("playerName").value
        var playerID = document.getElementById("playerID").value
        var playerIDstring = "PlayerID: " + playerID
        var total = document.getElementById("result").innerHTML

        if (name == "" && playerID == "") {
            alert("Name or ID is required.")
        }
        // else if name and no ID
        // else if ID and no name
        else if (confirm("Submit a score of " + total + " for " + (name ? name : playerIDstring) + "?")){
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var date = "\'" + yyyy + "-" + mm + "-" + dd + "\'"

            if(playerID != ""){
              resp = "Total score for " + (name ? name : playerIDstring) + " on " + date + ": " + total
              sql = "INSERT INTO scores(player_id, date, score) VALUES (" + playerID + ", "+ date +", "+total+");"
              window.location = "mailto:novadiscsscorecards@gmail.com?subject=Putting League Results&body=" + resp + "%0D%0A...%0D%0A" + sql;
            } else {
              // No Player ID given
              resp = "Total score for " + name + " on " + date + ": " + total
              window.location = "mailto:novadiscsscorecards@gmail.com?subject=Putting League Results&body=" + resp
            }

        }
    }
</script>
