<style media="screen">
  label {
    font-weight: bold;
    word-spacing: normal;
    padding-right:10px;
  }
</style>

<body>
  <h2>Stamp Examples</h2>
  <a href="#bottom">Jump to Order Form below</a>
<br>
  <h3>Basic Stamps starting at $35</h3>
  <p>A basic stamp is one that can include your name, phone number, and PDGA number, as well as
    as simple inital or signature at the focal point.
  </p>

  <div class="center">
    <img src="../assets/images/stamps/CB basic stamp.jpg" alt="basic stamp img" style="max-width: 200px;">
  </div>

  <h3>Advanced Stamp starting at $40</h3>
  <p>An advanced stamp is one that includes an image. This would be if you had
    a logo you wanted put on a stamp. The higher quality of image, the better. Low quality images will
    require more design effort which will be reflected in the cost.
  </p>
  <div class="center">
    <img src="../assets/images/stamps/whale.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/crown.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/mc esher.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/Bender.jpg" alt="advances stamp img" style="max-width: 200px;">
  </div>

  <h3>Expert Stamp starting at $50</h3>
  <p>An expert stamp is one that requires the most design work. If you have an idea and need help
    bringing it to life, this is the option for you. If you have multiple images and want them melded
    together, that can also be done on an Expert Stamp
  </p>

  <!-- <h3>Ink Color Options</h3>
  <div class="center">
    <img src="../assets/images/stamps/ink colors.png" alt="ink colors" style="max-width: 200px;">
  </div> -->
  <!-- <p>Ink color options include: (left to right) (top to bottom)</p>
  <p>None, Jet Black, Vermillion (Red), Chrome Yellow, Manganese Blue, Emerald Green</p>
  <p>Magenta Hue, Vibrant Fuchsia, Cobalt, Paradise Teal, Coastal Coral, Plum</p>
  <p>Pebble Beach, Rose Madder, Monarch Orange, </p>

<style media="screen">
.btn-square-sm {
width: 75px !important;
max-width: 100% !important;
max-height: 100% !important;
height: 75px !important;
text-align: center;
padding: 0px;
font-size:14px;
}
</style> -->
<!-- Color picker squares -->
<!-- <button type="button" class="btn btn-primary btn-square-sm" style="background-color: #000000; color:#ffffff">Jet Black</button> -->
<!--  -->



<!-- Stolen Color Picker -->
<!-- <div class="Level1Thumbnails-thumbnails">
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="None">
      <img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=none&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=none&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=none&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=none&amp;max_dim=168 168w" alt="None" class="AttributeValueThumbnail-realview">
    </button>
    </div>
      <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Jet Black"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=jetblack&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=jetblack&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=jetblack&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=jetblack&amp;max_dim=168 168w" alt="Jet Black" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--selected AttributeValueThumbnail--size56">
    <button aria-pressed="true" class="AttributeValueThumbnail-button" title="Vermillion (Red)"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vermillion&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vermillion&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vermillion&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vermillion&amp;max_dim=168 168w" alt="Vermillion (Red)" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Chrome Yellow"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=chromeyellow&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=chromeyellow&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=chromeyellow&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=chromeyellow&amp;max_dim=168 168w" alt="Chrome Yellow" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Manganese Blue"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=manganeseblue&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=manganeseblue&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=manganeseblue&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=manganeseblue&amp;max_dim=168 168w" alt="Manganese Blue" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Emerald Green"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=emeraldgreen&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=emeraldgreen&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=emeraldgreen&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=emeraldgreen&amp;max_dim=168 168w" alt="Emerald Green" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Magenta Hue"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=magentahue&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=magentahue&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=magentahue&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=magentahue&amp;max_dim=168 168w" alt="Magenta Hue" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Vibrant Fuchsia"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vibrantfuchsia&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vibrantfuchsia&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vibrantfuchsia&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vibrantfuchsia&amp;max_dim=168 168w" alt="Vibrant Fuchsia" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Cobalt"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=cobalt&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=cobalt&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=cobalt&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=cobalt&amp;max_dim=168 168w" alt="Cobalt" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Paradise Teal"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=paradiseteal&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=paradiseteal&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=paradiseteal&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=paradiseteal&amp;max_dim=168 168w" alt="Paradise Teal" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Coastal Coral"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coastalcoral&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coastalcoral&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coastalcoral&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coastalcoral&amp;max_dim=168 168w" alt="Coastal Coral" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Plum"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=plum&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=plum&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=plum&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=plum&amp;max_dim=168 168w" alt="Plum" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Pebble Beach"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=pebblebeach&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=pebblebeach&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=pebblebeach&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=pebblebeach&amp;max_dim=168 168w" alt="Pebble Beach" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Rose Madder"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=rosemadder&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=rosemadder&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=rosemadder&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=rosemadder&amp;max_dim=168 168w" alt="Rose Madder" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Monarch Orange"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=monarchorange&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=monarchorange&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=monarchorange&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=monarchorange&amp;max_dim=168 168w" alt="Monarch Orange" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Library Green"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=librarygreen&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=librarygreen&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=librarygreen&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=librarygreen&amp;max_dim=168 168w" alt="Library Green" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Light House"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=lighthouse&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=lighthouse&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=lighthouse&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=lighthouse&amp;max_dim=168 168w" alt="Light House" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Aquamarine"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=aquamarine&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=aquamarine&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=aquamarine&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=aquamarine&amp;max_dim=168 168w" alt="Aquamarine" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Bright Tangelo"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=brighttangelo&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=brighttangelo&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=brighttangelo&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=brighttangelo&amp;max_dim=168 168w" alt="Bright Tangelo" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Olive"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=olive&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=olive&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=olive&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=olive&amp;max_dim=168 168w" alt="Olive" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Viridian"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=viridian&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=viridian&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=viridian&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=viridian&amp;max_dim=168 168w" alt="Viridian" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Vivid Chartreuse"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vividchartreuse&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vividchartreuse&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vividchartreuse&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=vividchartreuse&amp;max_dim=168 168w" alt="Vivid Chartreuse" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Sepia"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=sepia&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=sepia&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=sepia&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=sepia&amp;max_dim=168 168w" alt="Sepia" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Seafarer"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seafarer&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seafarer&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seafarer&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seafarer&amp;max_dim=168 168w" alt="Seafarer" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Shadow Grey"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=shadowgrey&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=shadowgrey&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=shadowgrey&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=shadowgrey&amp;max_dim=168 168w" alt="Shadow Grey" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Sea Grass"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seagrass&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seagrass&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seagrass&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=seagrass&amp;max_dim=168 168w" alt="Sea Grass" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="French Ultra Marine"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=frenchultramarine&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=frenchultramarine&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=frenchultramarine&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=frenchultramarine&amp;max_dim=168 168w" alt="French Ultra Marine" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Coffee"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coffee&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coffee&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coffee&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=coffee&amp;max_dim=168 168w" alt="Coffee" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Majestic Violet"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=majesticviolet&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=majesticviolet&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=majesticviolet&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=majesticviolet&amp;max_dim=168 168w" alt="Majestic Violet" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Deep Purple"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=deeppurple&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=deeppurple&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=deeppurple&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=deeppurple&amp;max_dim=168 168w" alt="Deep Purple" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Silvery Shimmer"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=silver&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=silver&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=silver&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=silver&amp;max_dim=168 168w" alt="Silvery Shimmer" class="AttributeValueThumbnail-realview">
    </button>
  </div>
  <div class="AttributeValueThumbnail AttributeValueThumbnail--hoverEnabled AttributeValueThumbnail--size56">
    <button aria-pressed="false" class="AttributeValueThumbnail-button" title="Golden Glitz"><img src="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=gold&amp;max_dim=56" sizes="56px" srcset="https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=gold&amp;max_dim=56 56w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=gold&amp;max_dim=112 112w, https://rlv.zcache.ca/svc/view?rlvnet=1&amp;realview=113056813700701867&amp;inkpadcolor=gold&amp;max_dim=168 168w" alt="Golden Glitz" class="AttributeValueThumbnail-realview">
    </button>
  </div>
</div> -->
<!--  -->

  <h3 id="bottom">Contact us today for a free consultation if you have an idea and want to make it happen</h3>
</body>
