<style media="screen">
  label {
    font-weight: bold;
    word-spacing: normal;
    padding-right:10px;
  }
</style>

<body>
  <div class="finalButtons center">
    <button class="button" onclick="document.getElementById('bottom').scrollIntoView();" style="background: #3CAEA3;" type="button" href="#bottom">Order Form</button>
  </div>
  <h2>Stamp Examples</h2>
<br>
  <h3>Basic Stamps starting at $35</h3>
  <p>A basic stamp is one that can include your name, phone number, and PDGA number, as well as
    as simple inital or signature at the focal point.
  </p>

  <div class="center">
    <img src="../assets/images/stamps/CB basic stamp.jpg" alt="basic stamp img" style="max-width: 200px;">
  </div>

  <h3>Advanced Stamp starting at $40</h3>
  <p>An advanced stamp is one that includes an image. This would be the option you'd choose if you had
    a logo that you wanted put on a stamp. The higher quality of image, the better. Low quality images will
    require more design effort which will be reflected in the cost.
  </p>
  <div class="center">
    <img src="../assets/images/stamps/whale.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/crown.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/mc esher.jpg" alt="advances stamp img" style="max-width: 200px;">
    <img src="../assets/images/stamps/Bender.jpg" alt="advances stamp img" style="max-width: 200px;">
  </div>

  <h3>Expert Stamp starting at $50</h3>
  <p>An expert stamp is one that requires the most design work. If you have an idea and need help
    bringing it to life, this is the option for you. If you have multiple images and want them melded
    together, that can also be done on an Expert Stamp
  </p>

  <h3>Extra Ink $15</h3>
  <p>Just looking for some StazOn ink to go with a stamp you already have? We can do that!
  </p>

  <h3 id="bottom"><a href="mailto:novadiscsstamps@gmail.com">Send us an email</a> if you have any
    questions or to order a StazOn ink pad
  </h3>
</body>
