<Jumbo>
  <h2>NovaDiscs Putting League!</h2>
  <p>This site is currently a beta. Nothing is guarunteed. Leaving the site may cause you to lose any results in the scorecard.</p>
  <p>When submitting a scorecard you will be prompted to send an email. Please do not change the message body or 'To' field</p>
  <p>If you are unable to submit a scorecard, take a screenshot and send it to Chris or email it to novadiscsscorecards@gmail.com</p>

  <br>

  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSddxtYoe2ZTw1mIH1KPpnj9lWQ3qNYUCukqGS10rCWLybCt7w/viewform">Click Here</a> to register for the league
    <br> Cost is $15 per night per person, the league runs Wednesdays from 6:00 - 7:30pm at The Warehouse, starting March 2nd, 2022 until April 6th, 2022
    <br> Payment can be e-transferred to novadiscs@gmail.com
  </p>

  <br>

  <p> <a href="mailto:novadiscs@gmail.com">Contact Us</a> if you have any other questions </p>

  <div class="finalButtons center">
    <LinkTo @route="scorecard" class="button" style="background: #3CAEA3; margin: 5px 10px;">Scorecard</LinkTo>
    <!-- <LinkTo @route="players" class="button" style="background: #3CAEA3; margin: 5px 10px;">Find your Player ID</LinkTo> -->
    <LinkTo @route="standings" class="button" style="background: #3CAEA3; margin: 5px 10px;">Standings</LinkTo>
  </div>

</Jumbo>
