<Jumbo>
  <h2>NovaDiscs Putting League!</h2>
  <p>This site is currently a beta. Nothing is guarunteed. Leaving the site may cause you to lose any stored data.</p>
  <!-- <LinkTo @route="about" class="button">About Us</LinkTo> -->
  <LinkTo @route="scorecard" class="button">Scorecard</LinkTo>
</Jumbo>
