<Jumbo>
  <h2>NovaDiscs Putting League!</h2>
  <p>This site is currently a beta. Nothing is guarunteed. Leaving the site may cause you to lose any results in the scorecard.</p>
  <p>When submitting a scorecard you will be prompted to send an email. Please do not change the message body or 'To' field</p>
  <p>If you are unable to submit a scorecard, take a screenshot and send it to Chris or email it to novadiscsscorecards@gmail.com</p>
  <!-- <LinkTo @route="about" class="button">About Us</LinkTo> -->
  <LinkTo @route="scorecard" class="button" style="background: #3CAEA3;">Scorecard</LinkTo>
</Jumbo>
