<h2>Registered Players</h2>
<p>
  If you don't see your name below talk to Chris to get a Player ID
</p>

<body>
  <table id="playerTable" class="">
    <thead>
      <tr>
        <th id="string" onclick="sortByName()">Player Name ↑↓</th>
        <th id="number" onclick="sortByID()">Player ID</th>
      </tr>
    </thead>
    <tbody>

    </tbody>

  </table>
</body>


<script type="text/javascript">

    var players = [
      // {"Player Name": "", "Player ID": 0},
      {"Player Name": "Chris Bourque", "Player ID": 1},
      {"Player Name": "Mandy Isenor", "Player ID": 2},
      {'Player Name': 'Brandon Kehoe', 'Player ID':3},
      {'Player Name': 'Ian McShane', 'Player ID':4},
      {'Player Name': 'Brandon Crawford', 'Player ID':5},
      {'Player Name': 'Barry Banks', 'Player ID':6},
      {'Player Name': 'David Gillett', 'Player ID':7},
      {'Player Name': 'Cameron Mason', 'Player ID':8},
      {'Player Name': 'Dan Hendricken', 'Player ID':9},
      {'Player Name': 'Matthew Brunet', 'Player ID':10},
      {'Player Name': 'Jonathan Colborne', 'Player ID':11},
      {'Player Name': 'Adam Berry', 'Player ID':12},
      {'Player Name': 'Heather Edgett', 'Player ID':14},
      {'Player Name': 'Patrick Toole', 'Player ID':15},
      {'Player Name': 'Brady Giles', 'Player ID':16},
      {'Player Name': 'Tony Giles', 'Player ID':17}
    ];

    var columns = ["Player Name", "Player ID"];
    var table = document.getElementById('playerTable');
    var t = "";

    for (var i = 0; i < players.length; i++)
    {
        var row = table.insertRow( -1 ); // -1 is insert as last
        for( var j = 0; j < columns.length; j++ ){
            var cell = row.insertCell( - 1 ); // -1 is insert as last
            cell.className = columns[j]; //
            cell.innerHTML = players[i][columns[j]]
        }
    }

    var name_order = true

    function sortByName() {
      if (name_order){
        document.getElementById("string").innerHTML = "Player Name ↑"

        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("playerTable");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            // Check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
        name_order = false
      } else {
        document.getElementById("string").innerHTML = "Player Name ↓"

        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("playerTable");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i + 1].getElementsByTagName("TD")[0];
            y = rows[i].getElementsByTagName("TD")[0];
            // Check if the two rows should switch place:
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
        name_order = true
      }
    }

</script>
