<!-- <Players /> -->

<h2>Registered Players</h2>
<p>
  If you don't see your name below talk to Chris to get a Player ID
</p>

<script type="text/javascript">
  players = [
    // {"Player Name": "", "Player ID": 0},
    {"Player Name": "Chris Bourque", "Player ID": 1},
    {"Player Name": "Mandy Isenor", "Player ID": 13},
  ]
</script>


<body>
  <table class="puttingleaguescoresheet">
      <tr>
        <th>Player Name</th>
        <th>Player ID</th>
      </tr>

  </table>
</body>
