{{page-title "Standings"}}

<style media="screen">
#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  /* border: 1px solid #aaa; */
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
}

.toc_title {
  font-weight: 700;
  text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
  list-style: outside none none !important;
}
ul {
  margin-left: 20px;
}
</style>


  <div id="toc_container">
  <p class="toc_title">Contents</p>
  <li><a href="#top5">Top 5 Leaderboard</a></li>
    <li><a href="#jan05">Top 3 Players of the Day</a>
    <ul>
      <li><a href="#jan05">January 5th, 2023</a></li>
      <li><a href="#jan12">January 12th, 2023</a></li>
      <li><a href="#jan19">January 19th, 2023</a></li>
      <li><a href="#jan26">January 26th, 2023</a></li>
    </ul>
  </li>
  </div>

<body>
  <table id="top5" class="standingsTable">
    <caption>Top 5 Players <br> Sum of best 4 days</caption>
    <tr>
      <th>Player Name</th>
      <th>Total of 4 Best Days</th>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>477</td>
    </tr>
    <tr>
      <td>Jonathan Colborne</td>
      <td>442</td>
    </tr>
    <tr>
      <td>Chris Bourque</td>
      <td>349</td>
    </tr>
    <tr>
      <td>Ian McShane</td>
      <td>343</td>
    </tr>
    <tr>
      <td>Adam Dowe</td>
      <td>340</td>
    </tr>
  </table>

  <br>

  <table id="jan05" class="standingsTable">
    <caption>Top 3 scores of the day <br> January 5th, 2023</caption>
    <tr>
      <th>Player Name</th>
      <th>Round Score</th>
    </tr>
    <tr>
      <td>Luke Martelli</td>
      <td>130</td>
    </tr>
    <tr>
      <td>Jonathan Colborne</td>
      <td>127</td>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>107</td>
    </tr>
  </table>

  <br>

  <table id="jan12" class="standingsTable">
    <caption>Top 3 scores of the day <br> January 12th, 2023</caption>
    <tr>
      <th>Player Name</th>
      <th>Round Score</th>
    </tr>
    <tr>
      <td>Chris Bourque</td>
      <td>148</td>
    </tr>
    <tr>
      <td>Adam Dowe</td>
      <td>144</td>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>104</td>
    </tr>
  </table>

  <br>

  <table id="jan19" class="standingsTable">
    <caption>Top 3 scores of the day <br> January 19th, 2023</caption>
    <tr>
      <th>Player Name</th>
      <th>Round Score</th>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>127</td>
    </tr>
    <tr>
      <td>Ian McShane</td>
      <td>117</td>
    </tr>
    <tr>
      <td>Chris Bourque</td>
      <td>114</td>
    </tr>
  </table>

  <br>

  <table id="jan26" class="standingsTable">
    <caption>Top 3 scores of the day <br> January 26th, 2023</caption>
    <tr>
      <th>Player Name</th>
      <th>Round Score</th>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>139</td>
    </tr>
    <tr>
      <td>Charles Crawford</td>
      <td>131</td>
    </tr>
    <tr>
      <td>Ian McShane</td>
      <td>126</td>
    </tr>
  </table>

  <br>

  <div class="center">
    <button class="button" name="button" onclick="document.body.scrollTop = document.documentElement.scrollTop = 0;">Return to Top</button>
  </div>

</body>

<script type="text/javascript">
  function top(){
    document.body.scrollTop = document.documentElement.scrollTop = 0;
  }
</script>
