{{page-title "Standings"}}

<body>
  <table>
    <caption>Top 3 rounds of the day on March 2nd, 2022</caption>
    <tr>
      <th>Player Name</th>
      <th>Round Score</th>
    </tr>
    <tr>
      <td>Patrick Toole</td>
      <td>81</td>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>77</td>
    </tr>
  </table>

  <br>

  <table>
    <caption>Top 5 Players <br> Sum of best 4 rounds</caption>
    <tr>
      <th>Player Name</th>
      <th>Total of 4 Best Scores</th>
    </tr>
    <tr>
      <td>Brandon Kehoe</td>
      <td>225</td>
    </tr>
    <tr>
      <td>Patrick Toole</td>
      <td>208</td>
    </tr>
    <tr>
      <td>Chris Bourque</td>
      <td>195</td>
    </tr>
    <tr>
      <td>Tony Giles</td>
      <td>190</td>
    </tr>
    <tr>
      <td>Cameron Mason</td>
      <td>187</td>
    </tr>
  </table>
</body>
